<section class='scaffold'>
  <h2 class="breadcrumbs">Tenants</h2>

  <p>
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>New Tenant'.html_safe, new_tenant_path, class: "addButton" %>
  </p>

  <table class="scaffoldListTable">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tenants.each do |tenant| %>
        <tr>
          <td><%= link_to tenant.first_name, tenant %></td>
          <td><%= link_to tenant.last_name, tenant %></td>
          <td><%= link_to tenant.email, tenant %></td>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_tenant_path(tenant), title: "Edit Tenant" %></td>
          <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, tenant, method: :delete, data: { confirm: "Are you sure want to delete #{tenant.first_name} #{tenant.last_name}?" }, title: "Delete Tenant" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

   <p>
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>New Tenant'.html_safe, new_tenant_path, class: "addButton" %>
  </p>
</section>