<%= form_with(model: property, local: true) do |form| %>
  <div class="field">
    <%= form.label :property_name %>
    
    <%= form.text_field :property_name %>

    <% if property.errors[:property_name] %>
      <% property.errors[:property_name].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :property_address %>

    <%= form.text_area :property_address, rows: 10 %>

    <% if property.errors[:property_address] %>
      <% property.errors[:property_address].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :landlord_first_name %>

    <%= form.text_field :landlord_first_name %>

    <% if property.errors[:landlord_first_name] %>
      <% property.errors[:landlord_first_name].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :landlord_last_name %>

    <%= form.text_field :landlord_last_name %>

    <% if property.errors[:landlord_last_name] %>
      <% property.errors[:landlord_last_name].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :landlord_email %>

    <%= form.select :landlord_email, options_for_select(landlords_email_list, property.landlord_email.to_s) %>

    <% if property.errors[:landlord_email] %>
      <% property.errors[:landlord_email].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    
    <%= form.collection_select(:tenant_id, tenants_email_list, :id, :email, :prompt => !property.tenants.empty? ? property.tenants.first&.email : "-- Select --") %>

    <% if property.errors[:tenant_id] %>
      <% property.errors[:tenant_id].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenancy_start_date %>

    <%= form.date_field :tenancy_start_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y") %>    

    <% if property.errors[:tenancy_start_date] %>
      <% property.errors[:tenancy_start_date].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenancy_monthly_rent %>

    <%= form.number_field :tenancy_monthly_rent %>    

    <% if property.errors[:tenancy_monthly_rent] %>
      <% property.errors[:tenancy_monthly_rent].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenancy_security_deposit %>

    <%= form.number_field :tenancy_security_deposit %>

    <% if property.errors[:tenancy_security_deposit] %>
      <% property.errors[:tenancy_security_deposit].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :rented %>

    <%= form.check_box :rented %>

    <% if property.errors[:rented] %>
      <% property.errors[:rented].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <% if property.persisted? %>
      <button type="submit" name="commit" class="addButton">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>Update Property
      </button>

      <%= link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>Cancel'.html_safe, property, class: "destroyButton" %>
    <% else %>
      <button type="submit" name="commit" class="addButton">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>Create Property
      </button>
      <%= link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>Cancel'.html_safe, properties_path, class: "destroyButton" %>
    <% end %>
  </div>
<% end %>
