<%= form_with(model: @property, local: true) do |form| %>
  <div class="field">
    <%= form.label :property_name %>
    
    <%= form.text_field :property_name, :required => true %>

    <% if @property.errors[:property_name] %>
      <% @property.errors[:property_name].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :property_address %>

    <%= form.text_area :property_address, rows: 10, :required => true %>

    <% if @property.errors[:property_address] %>
      <% @property.errors[:property_address].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :landlord_emails %>

    <%= form.select(:landlord_id, options_for_select(other_landlords_email_list(@property)), :prompt => 'Select One', :required => true )%>

    <% if @property.errors[:landlord_id] %>
      <% @property.errors[:landlord_id].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenancy_monthly_rent %>

    <%= form.number_field :tenancy_monthly_rent, :required => true %>    

    <% if @property.errors[:tenancy_monthly_rent] %>
      <% @property.errors[:tenancy_monthly_rent].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tenancy_security_deposit %>

    <%= form.number_field :tenancy_security_deposit, :required => true %>

    <% if @property.errors[:tenancy_security_deposit] %>
      <% @property.errors[:tenancy_security_deposit].each do |message| %>
        <p class="errorMessage">
          <%= message %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <% if @property.persisted? %>
      <button type="submit" name="commit" class="addButton">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>Update Property
      </button>

      <%= link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>Cancel'.html_safe, @property, class: "destroyButton" %>
    <% else %>
      <button type="submit" name="commit" class="addButton">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>Create Property
      </button>
      <%= link_to '<i class="fa fa-times-circle" aria-hidden="true"></i>Cancel'.html_safe, properties_path, class: "destroyButton" %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  
  $('#property_multiple_landlords').change(function() {
    $('#other_landlords_emails').toggle()
  });

  $(function() {
   values = []
    $('#property_landlords_emails').change(function() {
      $('option:selected', $(this)).each(function() {
        $('#property_other_landlords_emails').append(
          values.push($(this).val())
        );
      });
      $('#property_other_landlords_emails').val([...new Set(values)])
    });
  });

  $(function() {
   values = []
    $('#property_tenants_emails_list').change(function() {
      $('option:selected', $(this)).each(function() {
        $('#property_tenants_emails').append(
          values.push($(this).val())
        );
      });
      $('#property_tenants_emails').val([...new Set(values)])
    });
  });
</script>