<section class='scaffold'>
  <h2 class="breadcrumbs">
    <%= link_to "Properties", properties_path %>
    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
    <%= @property.property_name %>
  </h2>

  <p style="float: left;">
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>New Property'.html_safe, new_property_path, class: "addButton" %>
    <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>Edit Property'.html_safe, edit_property_path(@property), class: "defaultButton" %>
  </p>

  <p style="float: right;">
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>Add Tenant'.html_safe, property_tenant_path(@property.id), class: "addmore" %>
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>Add More Landlords'.html_safe, property_landlord_path(@property.id), class: "addmore" %>
  </p>

  <table class="scaffoldDataTable">
    <tbody>
      <tr>
        <th>Property Name</th>
        
        <th>Property Address</th>
        
        <th>Created</th>
        
        <th>Last Updated</th>
      </tr>

      <tr>
        <td><%= @property.property_name %></td>
        
        <td><pre><%= @property.property_address %></pre></td>
        
        <td><%= @property.created_at.strftime("%H:%M:%S %A %d %B %Y") %></td>
        
        <td><%= @property.updated_at.strftime("%H:%M:%S %A %d %B %Y") %></td>
      </tr>
      
      <%= render 'property_landlords/property_landlords_details', landlords: @landlords%>
      
      <%if !@property.tenants.empty? %>
        <%= render 'property_tenants/property_tenants_details', tenants: @tenants%>
      <% end %>
    </tbody>
  </table>
</section>
